version = 1

[[analyzers]]
name = "javascript"
enabled = true

  [analyzers.meta]
  plugins = ["react"]
  environment = [
    "nodejs",
    "jest"
  ]

[[analyzers]]
name = "sql"
enabled = true

[[transformers]]
name = "prettier"

[[transformers]]
name = "standardjs"
